
ul.transition-all {
  overflow: hidden; 
}


.transition-margin {
  transition: margin-top 0.3s ease;
}

.squiggly-underline:hover {
  position: relative;
}

.squiggly-underline:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  height: 5px;
  background-image: url('../public/images/squiggly.svg'); 
  background-size: 100% 7px;
}
@media (min-width: 768px) {
  .squiggly-underline:hover::after {
  }
}


.bg-aarchar-logo {
  width: 128px;
  height: 128px;
  background-image: url('../public/images/Aarchar.png');
  background-size: cover; 
  background-position: center;
}
@media (max-width: 768px) {
  .logoDiv {
    display: none;
  }
  .mobileText {
    display: block;
    font-weight: bold;
    font-size: 32px;
  }
}

